<!-- form.html -->
<form action="/dataresult" method="post">
    <h2>API AIRECIUDADANO v1.0</h2><br>
    <h3>Instrucciones en aireciudadano.com/api</h3><br>
    <label for="variables">Select variables:</label><br>
    <input type="checkbox" id="select_all" onclick="toggle(this);">
    <label for="select_all">Select/Deselect All</label><br>
    {% for col in selected_cols %}
        <input type="checkbox" id="{{ col }}" name="variables" value="{{ col }}" {% if col in variables %}checked{% endif %}>
        <label for="{{ col }}">{{ col }}</label><br>
    {% endfor %}
    <br>
    <label for="start_date">Start date/time:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
    <label for="start_time"> / </label>
    <input type="time" id="start_time" name="start_time" value="{{ start_time }}" step="3600" list="hour-markers"><br><br>
    <label for="end_date">End date/time:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
    <label for="end_time"> / </label>
    <input type="time" id="end_time" name="end_time" value="{{ end_time }}" step="3600" list="hour-markers"><br><br>
    <datalist id="hour-markers">
        {% for hour in range(24) %}
            <option value="{{ '%02d:00'|format(hour) }}"></option>
        {% endfor %}
    </datalist>
    <label for="aggregation_method">Aggregation method:</label>
    <select id="aggregation_method" name="aggregation_method">
        <option value="step" {% if aggregation_method == 'step' %}selected{% endif %}>Step</option>
        <option value="average" {% if aggregation_method == 'average' %}selected{% endif %}>Average</option>
    </select><br><br>
    <label for="step_number">Step/Average number:</label>
    <input type="number" id="step_number" name="step_number" value="{{ step_number }}">
    <label for="step_option">Option:</label>
    <select id="step_option" name="step_option">
        <option value="minutes" {% if step_option == 'minutes' %}selected{% endif %}>Minutes</option>
        <option value="hours" {% if step_option == 'hours' %}selected{% endif %}>Hours</option>
        <option value="days" {% if step_option == 'days' %}selected{% endif %}>Days</option>
        <option value="weeks" {% if step_option == 'weeks' %}selected{% endif %}>Weeks</option>
    </select><br><br>
    <label for="station_filter">Station Filter:</label>
    <input type="text" id="station_filter" name="station_filter" value=""><br><br>
    <input type="submit" value="Submit">
</form>
<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('variables');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>